*{
    margin: 0 auto;
    padding: 0 auto;
}
hr{
    height: 3px;
    width: 795px;
    background-color: rgba(0, 145, 0, 0.8);
}
body{
    width:795px;
    background-color: #ffffff;
}

#div_head{
    display: inline-flex;
    width: auto;
    height: auto;    
    margin-top: 2%;
    margin-left: 25%;
    margin-bottom: 5%;
}

#div_nav{
    padding-top: 5px;
    padding-bottom:5px;
    width: 795;
	overflow: hidden;
    background-color: white;
    
}
#div_cen{
    width: 795px ;
    height :879px;
    background-image: url(bookshelf2.png);
    float:left;
    overflow:hidden;
}
#div_cen2{
        width: 795px ;
        height :auto;
        overflow:hidden;
        background-color: white;
        margin-top: 50px;
}
#div_cen3{
    width: 795px ;
    height :1030px;
    background-image: url(newbook.png);
    float:left;
}
#div_cen4{
    width: 795px ;
    height :auto;
    float:left;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: white;
}
    #div_line{
    height: 50px;
}
#mimg{
    width: 30px;
}

.table{
    width: 93%;
    height: 18.2%;
    padding-top: 12.7%;
    padding-left: 3.2%;
    padding-right: 5%;
    display: flex;
}
.table3{
    width: 93%;
    height: 19.3%;
    padding-top: 10.8%;
    margin-left: -223px;
    display: flex;
}
#imgid{
    border-radius: 10px 10px 10px 10px;
    width:80%;
}
.navli{
    float: left;
    padding-top: 8px;
    padding-bottom: 8px;
}
ul li{
    list-style: none;
    float:left;
    padding-right: 40px;
    font-size: 20pt;
    font-weight: bold;
}
li :hover{
    color:red;
}

a{
    text-decoration: none;
    color: black;
}

p{
    position: absolute;
    display: inline-block;
    margin-left: 500px;    
    font-size: 1.35em;
    width: 470px;
    color: rgb(0, 0, 0);
}

/* 커뮤니티  커뮤니티  커뮤니티  커뮤니티  커뮤니티  커뮤니티  커뮤니티 */
table {
    border-collapse: collapse;

}

caption {
    display: none;
}
.board_list_wrap {
    padding: 50px;
}

.board_list {
    width: 100%;
    border-top: 2px solid rgb(0, 0, 0);
}

.board_list tr {
    border-bottom: 1px solid rgb(160, 160, 160);
}

.board_list th,
.board_list td {
    padding: 10px;
    font-size: 14px;
}

.board_list td {
    text-align: center;
    
}

.board_list .tit {
    text-align: left;
    margin: 0px;
    width: 400px;    
}

.board_list .tit:hover {
    text-decoration: none;
}

.board_list_wrap .paging {
    margin-top: 20px;
    text-align: center;
    font-size: 0;
}

.board_list_wrap .paging a {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 100px;
    font-size: 12px;
}
.board_list_wrap .paging a:first-child {
    margin-left: 0;
}

.board_list_wrap .paging a.bt {
    border: 1px solid #eee;
    background: #eee;
}

.board_list_wrap .paging a.num {
    border: 1px solid rgb(0, 171, 0);
    font-weight: 600;
    color: rgb(0, 171, 0);
}

.board_list_wrap .paging a.num.on {
    background: rgb(0, 171, 0);
    color: #fff;
}
.kind{
    font-size: 2em;
    padding-top: 30px;
    padding-left:50px;
    font-weight: 900;
}
.bookdesc{
    position: absolute;
}
.loginwindow{
    display:flexbox;
    width: 70%;
    padding-top: 2%;
    padding-left: 24%;
    height: auto;
    font-size: 1.2em;
}
.newaccount{
    padding-left: 30%;
}
.login{
    padding-left: 27%;
    font-size: 2em;
    padding-bottom: 2%;
    }
.btnclass{
    font-size: 1em;
}


   
   


